@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;

    --font-family-heading: 'Amatic SC', sans-serif;
    --font-family-roboto: Roboto;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*&____________________HEADER____________________ */
/*&______________________________________________ */


.header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-color);
    height: 10vh;

    .logo {

        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 1rem;

        a {
            color: var(--dark-color);
            font-family: roboto;
            font-weight: 600;
            text-decoration: none;

            span {
                color: var(--secondary-color);
            }
        }

        img {
            width: 40px;
            height: 40px;
        }

    }

    .nav-bar {
        display: flex;
        gap: 1.5rem;

        a {
            display: flex;
            align-items: center;
            gap: 5px;


            font-family: roboto;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
        }
    }

    .donation-btn {
        font-family: roboto;
        font-weight: 600;
        color: var(--light-color);
        background-color: var(--btn-secondary-bg);
        box-shadow: var(--shadow-xl);
        padding: 1rem 1rem;
        border-radius: 2rem;
        width: 10rem;
        border: none;

    }

}

/*&___________________________________________________ */
/*&___________________________________________________ */


.relative {
    position: relative;
    background-color: rgb(172, 172, 172);
    height: 150vh;

    .hero_banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--light-color);

        text-align: center;
        line-height: 5rem;

        position: absolute;
        background-image: url(/images/background/background_devenir_bénévole.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 30%;
        top: 0;

        h1 {

            font-family: var(--font-family-heading);
            font-weight: 600;
            font-size: 3rem;
        }

        p {
            font-family: var(--font-family-roboto);
        }
    }

    .formulaire {

        border-radius: 15px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 50%;
        height: 70%;
        top: 25%;
        left: 25%;
    }
}



/*&_____________________FORMULAIRE____________________ */
/*&___________________________________________________ */

.required::after {
    content: " *";
    color: red;
    font-size: 20px;
}

.Form-container {
    position: absolute;
    border-radius: 1rem;
    font-family: var(--font-family-roboto);
    box-shadow: var(--shadow-sm);
    margin: auto;
    background-color: #ffffff;
    width: 50vw;
    height: 115vh;

    display: flex;
    flex-direction: column;
    top: 80%;
    left: 25%;

    .Form-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 3rem;

        h1 {
            font-family: var(--font-family-heading);
            font-size: 4rem;
        }

        p {
            color: var(--dark-color);
        }
    }


    .Form-content {
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        font-weight: 500;


        label {
            font-size: 20px;
        }

        .small {
            width: 50%;
        }

        .large {
            width: 100%;
        }


    }

    input,
    textarea,
    select {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: 1px solid gray;
    }


    button {
        margin: auto;
        padding: 0.5rem 1rem;
        width: 10vw;
        background-color: var(--btn-accent-bg);
        border-radius: 1rem;
        border: none;
        color: var(--light-color);

    }
}


/*&_______________FOOTER______________ */

.top-footer {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    background-color: var(--dark-color);
    height: 25vh;

    font-family: Roboto;
    color: white;

    h3 {
        font-family: var(--font-family-heading);
        font-size: 2rem;
        color: var(--secondary-color);
    }

    .first-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: blue; */
        width: 30%;

        .media-icon,
        a .icon {
            color: white;
            display: flex;
            gap: 1rem;
        }
    }

    .middle-section {
        color: gray;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: rgb(247, 138, 210); */
        width: 30%;
        list-style: none;

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    .last-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: rgb(102, 63, 164); */
        width: 30%;

        li {
            list-style: none;
        }


    }
}



.bottom-footer {
    font-family: Roboto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: gray;
    background-color: var(--dark-color);
    height: 10vh;
    border-top: 1px solid gray;

    h1 {
        font-weight: normal;
        font-size: small;
    }

    p {
        font-size: small;
    }

}