@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
    --primary-color: #fafafa;
    --secondary-color: #7a78ff;
    --accent-color: #ff6d38;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;

    --btn-primary-bg: #333;
    --btn-secondary-bg: #8584ff;
    --btn-accent-bg: #ffc412;
    --btn-primary-hover-bg: #e74c3c;
    --btn-secondary-hover-bg: #333;

    --font-family-heading: 'Amatic SC', sans-serif;
    --font-family-roboto: Roboto;
    --border-radius: 8px;

    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

    --section-margin: 2rem 0;
    --container-width: 90%;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*&________________HEADER___________________*/

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    background-color: var(--primary-color);
    height: 10vh;

    .logo {

        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 1rem;

        a {
            color: var(--dark-color);
            font-family: roboto;
            font-weight: 600;
            text-decoration: none;

            span {
                color: var(--secondary-color);
            }
        }

        img {
            width: 40px;
            height: 40px;
        }

    }

    .nav-bar {
        display: flex;
        gap: 1.5rem;

        a {
            display: flex;
            align-items: center;
            gap: 5px;


            font-family: roboto;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
        }
    }

    .donation-btn {
        font-family: roboto;
        font-weight: 600;
        color: var(--light-color);
        background-color: var(--btn-secondary-bg);
        box-shadow: var(--shadow-xl);
        padding: 1rem 1rem;
        border-radius: 2rem;
        width: 10rem;
        border: none;

    }

}



/*&________________MIDDLE SECTION___________________*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: rgb(219, 219, 219);

    .search-box {
        background-color: white;
        box-shadow: var(--shadow-xl);
        border-radius: 1rem;
        height: 15%;
        width: 50%;
        display: flex;
        align-items: center;
        margin: auto;
        gap: 1rem;

        #select-moments {
            font-family: roboto;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            gap: 10px;
            width: 20rem;

            #option {
                padding: 0.5rem 0.5rem;
                border-radius: 5px;
            }

        }

        #enter-city {
            font-family: roboto;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 20rem;

            input {
                padding: 0.5rem 0.5rem;
                border-radius: 5px;
                border: 1px solid gray;
            }

        }

        .search-btn {
            display: flex;
            flex-direction: column;
            color: var(--light-color);
            font-family: roboto;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 1rem;
            border: none;
            background-color: var(--btn-primary-bg);
            width: 15rem;
        }
    }

    .profil-grid {

        max-width: 60vw;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);

        .profil {
            .profil-pic img {
                width: 100%;
                height: 180px;
                object-fit: cover;


            }

            .profil-content {
                background-color: var(--light-color);
                padding: 4rem 1rem;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                button {
                    width: 90%;
                    font-family: roboto;
                    color: var(--light-color);
                    background-color: var(--dark-color);
                    border-radius: 2rem;
                    padding: 0.5rem;
                }
            }

            .profil-content ul {
                list-style: none;
            }

        }

    }

    .pagination {

        font-family: roboto;
        font-weight: 500;
        font-size: 1rem;

        display: flex;
        align-items: center;
        gap: 10px;

        .link {
            padding: 0.5rem 0.5rem;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            text-decoration: none;


        }

        .btn {
            font-family: roboto;
            font-weight: 500;
            font-size: 1rem;

            color: var(--secondary-color);
            padding: 0.5rem 0.5rem;
            background-color: var(--primary-color);
            border: none;
        }

        .btn a:hover {
            background-color: var(--btn-secondary-bg);
        }

    }


}




/*&________________FOOTER ___________________*/

.top-footer {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    background-color: var(--dark-color);
    height: 25vh;

    font-family: Roboto;
    color: white;

    h3 {
        font-family: var(--font-family-heading);
        font-size: 2rem;
        color: var(--secondary-color);
    }

    .first-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: blue; */
        width: 30%;

        .media-icon,
        a .icon {
            color: white;
            display: flex;
            gap: 1rem;
        }
    }

    .middle-section {
        color: gray;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: rgb(247, 138, 210); */
        width: 30%;
        list-style: none;

        a {
            text-decoration: none;
            color: inherit;
        }

    }

    .last-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background: rgb(102, 63, 164); */
        width: 30%;

        li {
            list-style: none;
        }


    }
}



.bottom-footer {
    font-family: Roboto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: gray;
    background-color: var(--dark-color);
    height: 10vh;
    border-top: 1px solid gray;

    h1 {
        font-weight: normal;
        font-size: small;
    }

    p {
        font-size: small;
    }

}