:root {
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*&HEADER */

header{
  height: 1rem;
  margin: 2rem;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-sm);
}
.header-content {
  /*~ FONT */
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  
 /*~ DISPLAY */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  /*~ BACKGROUND */
  background-color: var(--light-color);
  
}

.header-content .logo a{
  text-decoration: none;
}

.header-content .logo span{
  color: var(--secondary-color);
}

.header-content .nav_Bar ul {
  width: 100%;
  /* gap: 20px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header-content .nav_Bar ul a:hover {
  color: var(--secondary-color);
}


.header-content .nav_Bar a{
  height: 100%;
  padding: 0 30px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-content button {
  text-align: center;
  height: 30px;
  padding: 10px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  color: var(--light-color);
  background-color: var(--btn-secondary-bg);
  border-radius: var(--border-radius);
  border: none;
}


/*& HERO BANNER SECTION */


.hero-banner{
  
  width: 100%;
  height: 500px;

  background-image: url(/images/background/backgrounnd_accueil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: var(--primary-color)
}

.hero_content h1{
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: 3rem;
}

/* & FIRST SECTION */



/*& SECOND SECTION */

#secondSection .container {
  height: 50vh;

}

.textSS {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSS h1 {
  font-family: var(--font-family-heading);
  font-size: 40px;
}


.secondContainer{
  width: var(--container-width);
  margin: auto;
  padding: 40px 0;
}

.galeryGrid img{
  height: 100%;
  width: 15vw;
}

.galeryGrid{
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, fr);
  grid-template-rows: repeat(4, fr) ;
  justify-content: center;
  align-items: baseline;
}


.pic1{
  grid-row: 1 / 3 ;
  grid-column: 1 / 2 ;

}
.pic2{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.pic3{
  grid-row: 1 / 3 ;
  grid-column: 3 / 4;
}
.pic4{
  grid-row: 1 / 2 ;
  grid-column: 4 / 5;
}
.pic5{
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}
.pic6{
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}
.pic7{
  grid-row: 3 / 4 ;
  grid-column: 3 / 4;
}
.pic8{
  grid-row: 2 / 4;
  grid-column: 4 / 5;
}



/*& THIRD SECTION */

.thirdSectionText {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.thirdSectionText h1 {
  font-family: var(--font-family-heading);
  font-size: 40px;
}

.thirdSectionText p {
  color: var(--dark-color);
}

.textBoxes {
  text-align: center;
  margin: 5%;
  gap: 15px;
  height: 20vh;
  display: grid;
  grid-template-rows: repeat(2, vw);
  grid-template-columns: repeat(5, vh);


}

.box1 {
  border-radius: 20px;
  box-shadow: var(--shadow-xl);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box2 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.box3 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  /* border: 1px solid black; */
  grid-row: 1 / 2;
  grid-column: 3 / 4;

}

.box4 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  /* border: 1px solid black; */
  grid-row: 1 / 2;
  grid-column: 4 / 5;

}

/* & LAST SECTION */

.lastSectionText {
  text-align: center;
  color: var(--dark-color);
  height: 20vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}

.lastSectionText h1 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 40px;

}

.lastSectionText p {
  text-align: center;

}

.lastSectionButtons {
  border-radius: 15px;
  height: 40px;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.lastSectionButtons .button1 {
  align-items: center;
  color: var(--light-color);
  background-color: var(--btn-primary-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;

}

.lastSectionButtons .button2 {
  color: var(--light-color);
  background-color: var(--btn-secondary-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;
}

.lastSectionButtons .button3 {
  color: var(--light-color);
  background-color: var(--btn-accent-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;
}




/**FOOTER */

footer .container1 {

  color: var(--light-color);
  
  height: 15vh;
  gap: 20px;
  background-color: var(--dark-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.container1 ul {
  list-style: none;
}

.container1 .sectionOne h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionTwo h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionThree h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionOne{
  width: 30%;
  padding: 10px;
}
.container1 .sectionTwo{
  width: 30%;
  padding: 10px;
}
.container1 .sectionThree{
  width: 30%;
  padding: 10px;
}

footer .container2 {
  color: var(--light-color);
  text-align: center;
  display: flex;
  height: 15vh;
  border: 1px var(--primary-color);
  background-color: var(--dark-color);
  align-items: center;
  justify-content: center;
}