:root {
  --primary-color: #fafafa;
  --secondary-color: #7a78ff;
  --accent-color: #ff6d38;
  --heading-color: #333;
  --light-color: #f9f9f9;
  --dark-color: #333;

  --btn-primary-bg: #333;
  --btn-secondary-bg: #8584ff;
  --btn-accent-bg: #ffc412;
  --btn-primary-hover-bg: #e74c3c;
  --btn-secondary-hover-bg: #333;

  --font-family-heading: 'Amatic SC', sans-serif;
  --border-radius: 8px;

  --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);

  --section-margin: 2rem 0;
  --container-width: 90%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 

rem unité fixe
% appliqué aux enfants du parent 

RACCOURCI
button.big{
}

button{
  &.big{}
  &a:hover{}
} 
  
header {

button{
}

a {
}

}

.stylish-grid{
display :grid;

& > div {
}

*/
/* flex-shrink: ; pour réduire 
  flex-grow: ; pour prendre l'espace restant 
  grid-template-columns: auto-fit/ autofill sans utiliser media-screen
  */

/*&___________________________HEADER_______________________________ */

.header-content {

  display: flex;
  justify-content: space-between;
  align-items: center;


  padding: 0 3rem;
  width: 100vw;
  height: 7vh;


  font-family: Roboto;
  font-weight: 800;
  font-size: 1rem;

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;

    img {
      height: 3rem;
      width: 3rem;
    }

    a {
      color: var(--dark-color);
      text-decoration: none;
    }

    span {
      color: var(--secondary-color);
    }

  }

  .nav_Bar {

    ul {
      display: flex;
      gap: 3rem;

      list-style: none;

      li {
        a {
          color: var(--dark-color);
          display: flex;
          gap: 0.5rem;
          align-items: center;
          text-decoration: none;

        }
      }
    }
  }

  button {
    width: 8rem;
    color: var(--light-color);
    background-color: var(--btn-secondary-bg);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
  }

}


/*&________________________HERO BANNER SECTION__________________________ */


.hero-banner {

  width: 100%;
  height: 500px;

  background-image: url(/images/background/backgrounnd_accueil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: var(--primary-color)
}

.hero_content h1 {
  font-family: var(--font-family-heading);
  font-weight: 800;
  font-size: 3rem;
}

/*&________________________FIRST SECTION________________________________ */

.firstSectionCOntainer {
  width: var(--container-width);
  margin: var(--section-margin);
}


/*&_________________________SECOND SECTION________________________________ */


.secondSectionContainer {
  width: var(--container-width);
  margin: var(--section-margin);
}



.textSS {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textSS h1 {
  font-family: var(--font-family-heading);
  font-size: 40px;
}


.galeryGrid {
  margin-inline: auto;
  width: 50vw;
  height: 70vh;
  gap: 1rem;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  &>div {
    background-color: rgb(144, 201, 248);
    border: 1px solid black;

    &.pic1 {
      background-image: url(/images/Grid_photos/1_top.jpg);
      background-position-x: center;
      grid-row: span 2;

    }

    

    &.pic3 {
      background-image: url(/images/Grid_photos/3_top.jpg);
      background-position: 50%;
      grid-row: span 2;
    }

    &.pic4 {

    background-image: url(/images/Grid_photos/4_top.jpg);
    }

    &.pic5 {
      background-image: url(/images/Grid_photos/6_bottom.jpg);
      background-position: 50%;
      grid-row: span 2;
    }

    &.pic6 {
      background-image: url(/images/Grid_photos/8_bottom.jpg);
      background-position: 50%;
      grid-row: span 2;
    }

    &.pic7 {
      background-image: url(/images/Grid_photos/5_bottom.jpg);

    }

    &.pic8 {}
  }

}

/*&__________________________THIRD SECTION______________________________ */


.thirdSectionContainer {
  width: var(--container-width);
  margin: var(--section-margin);
}

.thirdSectionText {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.thirdSectionText h1 {
  font-family: var(--font-family-heading);
  font-size: 40px;
}

.thirdSectionText p {
  color: var(--dark-color);
}



.textBoxes{
  text-align: center;
  margin-top: 5rem;
  margin-inline: auto;
  width: 50vw;
  height: 40vh;
  gap: 1rem;
  display: flex;
  padding: 1rem;

  & > div{
    &.box{
      padding: 3%;
      border-radius: 20px;
      box-shadow: var(--shadow-xl);
    }
    }
}

/* .textBoxes { 

  
  font-family: Roboto;
  font-size: 1rem;
  text-align: center;

  
  margin: 5%;
  gap: 15px;
  height: 30vh;
  width: 50vw;

  display: grid;
  grid-template-rows: repeat(2, vw);
  grid-template-columns: repeat(5, vh);


} */

/* .textBoxes h1 {
  font-size: 15px;
}

.textBoxes p {
  font-size: 10px;
}

.box1 {
  border-radius: 20px;
  box-shadow: var(--shadow-xl);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box2 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.box3 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 3 / 4;

}

.box4 {
  box-shadow: var(--shadow-xl);
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 4 / 5;

}  */

/*&________________________LAST SECTION________________________________ */


.lastSectionContainer {
  width: var(--container-width);
  margin: var(--section-margin);
}

.lastSectionText {
  text-align: center;
  color: var(--dark-color);
  height: 20vh;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}

.lastSectionText h1 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 40px;

}

.lastSectionText p {
  text-align: center;

}

.lastSectionButtons {
  border-radius: 15px;
  height: 40px;
  height: 14vh;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;


}

.lastSectionButtons .button1 {
  align-items: center;
  color: var(--light-color);
  background-color: var(--btn-primary-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;

}

.lastSectionButtons .button2 {
  color: var(--light-color);
  background-color: var(--btn-secondary-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;
}

.lastSectionButtons .button3 {
  color: var(--light-color);
  background-color: var(--btn-accent-bg);
  border-radius: 15px;
  height: 40px;
  border: none;
  padding: 10px;
}


/*&__________________________FOOTER_____________________________________ */

footer .container1 {

  color: var(--light-color);
  height: 15vh;
  gap: 20px;
  background-color: var(--dark-color);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.container1 ul {
  list-style: none;
}

.container1 .sectionOne h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionTwo h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionThree h3 {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);

}

.container1 .sectionOne {
  width: 30%;
  padding: 10px;
}

.container1 .sectionTwo {
  width: 30%;
  padding: 10px;

}

.container1 .sectionTwo ul li a {
  color: var(--light-color);
  text-decoration: none;

}

.container1 .sectionThree {
  width: 30%;
  padding: 10px;
}

footer .container2 {
  color: var(--light-color);
  text-align: center;
  display: flex;
  height: 15vh;
  border: 1px var(--primary-color);
  background-color: var(--dark-color);
  align-items: center;
  justify-content: center;
}